body {
    font-family: gohuFont, Arial, sans-serif;
    background-image: url(assets/images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #ff6600;
    color: white;
    padding: 2px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65500;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#GBA-SP3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0; 
    left: 0;
}